<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%= t('title') %></title>
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <link rel="stylesheet" type="text/css" href="./css/adaptive.css" />
    <script data-main="./js/main.js" src="./js/lib/require-2.1.20.js"></script>
</head>
<body>
<div id="learnwords" class="layout-box">
    <div class="content-box">
    </div>
</div>
</body>
</html>