<fieldset class="grade-fieldset">
	<legend><%= (typeof grade == "number") ? grade + " класс" : "факультатив" %> </legend>
	<label><input type="checkbox" name="choose-all" class="choose-all-groups" /><%- i18n.text.chooseAll %></label><br />
	<br />
	<% var lessons = array.slice() %>
	<% lessons = lessons.map(function(el){return parseInt(+el);}); %>
	<% array = array.map(function(el){return +el;}); %>
	<% lessons = _.uniq(lessons); %>
	<ul>
		<% _.each(lessons, function(i) { %>
			<li><span class="lesson-list">Unit <%- i %></span>
				<ul style="display: none">
					<% _.each(array, function(j) { %>
						<% if ( parseInt(j) !== i ) return; %>
						<% var lesson = ( j % 1 ).toFixed(1) * 10; %>
						<li>
							<label>
								<input type="checkbox" data-type="<%= display_type %>" data-grade="<%= grade %>"
									   name="<%- j %>" class="choose-group-input" />
								<%= 'Lesson ' + lesson %>
							</label>
						</li>
					<% }); %>
				</ul>
			</li>
		<% }); %>
	</ul>
</fieldset>
