<td class="enWord"><%= enWord %></td>
<td class="ruWord"><%= ruWord %></td>
<td class="wordGroup"><%= wordGroup %></td>
<td class="enSynonyms" style="display: none"><%= enSynonyms %></td>
<td class="ruSynonyms" style="display: none"><%= ruSynonyms %></td>
<td><a href="#" class="edit" onclick="return false;"><%= i18n.text.edit %></a></td>
<td><a href="#" class="saveEdits" onclick="return false;"><%= i18n.text.save %></a></td>
<td><a href="#" class="delete" onclick="return false;"><%= i18n.text.delete %></a></td>